{% extends 'authentication/base.html' %}
{% load static %}


<html>
 
    <head>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/3.3.3/adapter.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>

    {% block qr_scanner %}
  
    <body style="background-color:rgb(26, 36, 44);">

        <div class="container">
           <div class="col-lg-12 col-md-12 text-center " style="text-align: center;">
                <div class=" camera  pb-5" >
                    <video id="preview" width="100%"></video>
                </div><br>
                
                  
                <form method="post">
                  {% csrf_token %}
               
                  {% if error_message %}<p style="color: rgb(212, 16, 16); font-size: 20px;"><strong>{{ error_message }}</strong></p>
                  {% endif %}
                  
                  <div class="qr_result  ">
                    
                    <input class="qr_data" type="text" name="qrdata" readonly="readonly" maxlength="12" required="" placeholder="Qr Data"  id="id_qrdata">
                   
                      <br><br>
                      
                      <span> <button class="mx-2 qr_btn" ><a href="{% url 'operators:verify' %} " style="text-decoration:none; color: black">Back</a></button></span>
                 
                 <span> <button class="qr_btn" type="submit" name="button">Submit</button></span>
                 
                </div>
                {% if field.help_text %}
                 <small style="color: rgb(255, 249, 249)">{{ field.help_text }}</small>  
                 {% endif %}
                 {% for error in field.errors %}
                   <p  style="color: red; margin-left: 50px; ">{{ error }}</p>
                 {% endfor %}
                      
                    <p></p>
                  
                </form>
              
               
     <br>
                
                </div> 
        </div>

        
        <script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
        <script>
           let scanner = new Instascan.Scanner({ video: document.getElementById('preview')});
           Instascan.Camera.getCameras().then(function(cameras){
               if(cameras.length > 0 ){
                   scanner.start(cameras[0]);
               } else{
                   alert('No cameras found');
               }

           }).catch(function(e) {
               console.error(e);
           });

           scanner.addListener('scan',function(c){
               document.getElementById('id_qrdata').value=c;
           });

        </script>
        <script type="text/javascript">
          $('#text').change(function() {
            var number = $('#text').val();
          })

        </script>
       
    </body>
    
</html>
{% endblock %}