<html>
    <head>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/3.3.3/adapter.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
<script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-md-6" style="width: 30%;">
                    <video id="preview" width="100%"></video>
                </div>
                <div class="">
                  {% if error_message %}<p style="color: #db7258; font-size: 25px;"><strong>{{ error_message }}</strong></p>
                  {% endif %}
                </div>
                <form class="" method="post">
                  <label for="id_qrdata">Vehicle Number</label>
                  <input id="id_qrdata" type="text" name="" value="" readonly>
                  <label for="id_user">User Id</label>
                  <input id="id_user" type="number" name="" value="" readonly>
                </form>
                  <button id="entry" type="button" name="button">Entry</button>
                  <button id="exit" type="button" name="button">Exit</button>
                 <br>
            </div>
        </div>

        <div class="btn btn-info">
          <a href="{% url 'operators:verify' %}">back</a>
        </div>

        <script>
           let scanner = new Instascan.Scanner({ video: document.getElementById('preview')});
           Instascan.Camera.getCameras().then(function(cameras){
               if(cameras.length > 0 ){
                   scanner.start(cameras[0]);
               } else{
                   alert('No cameras found');
               }

           }).catch(function(e) {
               console.error(e);
           });

           scanner.addListener('scan',function(c){
               var res = c.split(",");
               console.log(res);
               document.getElementById('id_qrdata').value=res[0];
               document.getElementById('id_user').value = Number(res[1]);
               console.log(res[1]);
           });

        </script>
        <script type="text/javascript">
          $('#entry').click(function() {
            var veh_number = $('#id_qrdata').val();
            var user = $('#id_user').val();
            console.log(veh_number)
            const url = 'http://127.0.0.1:8000/operators/entry/';
            $.post(url ,
                      {
                        number: veh_number,
                        user_id : user,
                      },
                      function(data,status){
                        console.log("Data: " + data + "\nStatus: " + status);
                      });
          });
          $('#exit').click(function() {
            var veh_number = $('#id_qrdata').val();
            var user = $('#id_user').val();
            console.log(veh_number)
            console.log(user)
            const url = 'http://127.0.0.1:8000/operators/exitupdate/';
            var user_data = {
                number: veh_number,
                user_id : user,
              };
            $.ajax({
            url: url,
            type: 'PUT',
            data: user_data,
            success: function (data, status) {
                // Do something with the result
                console.log("Data: " + data + "\nStatus: " + status);
            }
          });
      })
        </script>
    </body>
</html>
