
backend/settings/__pycache__/
apps/authentication/__pycache__/
apps/operation_dashboard/__pycache__/
apps/parking/__pycache__/
apps/payments/__pycache__/
apps/vehicles/__pycache__/
backend/__pycache__/
.env
backend/static/vehicles/images/
apps/vehicles/migrations/
apps/authentication/migrations/
apps/operation_dashboard/migrations/
apps/operation_dashboard/__pycache__/
apps/parking/__pycache__/
apps/payments/__pycache__/
apps/parking/migrations/



apps/payments/migrations/
