{% extends 'authentication/base.html' %}
{% load static %}

{% block User_Dashboard %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User_Dashboard</title>
  </head>
  <body>
    <div class="container text-center" style="font-size:30px; margin-top: 10%; border: 2px solid black; padding-top: 2%;" >
      <p>{{error_message}}</p>
          <a href="{% url 'user:add_vehicle' user.id %}">Add Vehicle</a> <br>
          <a href="{% url 'user:view_vehicles' %}">Registered Vehicles</a> <br>
          <a href="{% url 'user:history' %}">Parking History</a> <br>
    </div>
    <br>

    </body>
</html>
{% endblock %}
