{% extends 'authentication/base.html' %}
{% load static %}

{% block css_content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/user_dash/vehicle_history.css' %}">
{% endblock %}

{% block content %}
<h1 class=" active-polls">User's Vehicles</h1>
{% if list %}
    <ol>
    {% for vehicle in list %}

    <div class="">
      <li ><a class="question-list" href="{% url 'user:vehicles_history' vehicle.id %}">{{vehicle.number}}</a></li>
    </div>

    {% endfor %}
    </ol>
{% else %}
    <p>No Vehicles.</p>

{% endif %}
{% endblock %}
