<!DOCTYPE html>
{% extends 'authentication/base.html' %}
{% load static %}

{% block css_content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/user_dash/vehicles.css' %}">
{% endblock %}

{% block content %}
<div class="main-container">
  <h1 >User's Vehicles</h1>
  {% if list %}
      <ol>
      {% for vehicle in list %}

      <div class="">
        <li ><a class="question-list" href="{% url 'user:return_qr' vehicle.id %}">{{vehicle.number}}</a></li>
      </div>

      {% endfor %}
      </ol>
  {% else %}
      <h1>No Vehicles</h1>

  {% endif %}

</div>
{% endblock %}
