/* navbar ----------------------------------------------------*/

.nav-stick{
    position: sticky;
    top: 0;
    z-index: 2000;
}
.navbar{
       
        background-color: #fff;
        position: relative;
        -webkit-box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);
        box-shadow: 0 2px 8px 0 rgb(0 0 0 / 10%);
        height: 72px;
               flex: 0 0 72px;
        z-index: 2000;
        
       
}

.pe-site-header__right{
     
    font-size: 150%;
    margin-right: -1.0%;
    padding-left: 4rem;
    padding-right: 1rem;
    padding-top: 0.9rem;
    padding-bottom: 0.6rem;
    background-image: linear-gradient(
    115deg
    , #fff 0%, #fff 2.5rem, #007acc 2.9em, #00497a );
}

.pe-site-header__right>.pe-site-header__action {
    
    text-decoration: white;
    line-height: 1.5;
     font-weight: 600;
   
    color: #e3ecf5;
    box-shadow: inset 0 0 0 1px #007acc;
    background-color: #f8fafc;
    color: #0e80cc;
    font-size: 0.9em;
    padding: .3rem .4rem;
    margin: 0 1.0rem;
    
    align-self: center;
}
.head-login {
      color: white;
      
}
.pe-site-header__right>.head-login:hover{
  color: white;
}


/* signup page---------------------------------------------------------*/

.signup{
    background: #d3dce9;
     margin: 9% 10%;

     box-shadow: 20px 10px 18px #1853a0;
     border-radius: 5px;

}

.split-signup-img{
    margin-top: 10%;
    margin-bottom: 1%;
    
}
.split-head-sign__image {

    width: 120%;
    height: auto;
    
}

.signbtn{
    background:#05588f ;
    color: white;
     border-radius: 10px;
     width: 40%;
     margin-left: 25%;
     margin-top: 5%;
     border-color: grey;
 }

 .split-signup-head{
    margin-top: 6%;
    margin-bottom: 5%;
    margin-left: 9%;
    
   }
   
   
   .input{
       margin-left: 80px;
   }

/* login page-------------------------------------------------------------------------- */
.login__title{
    color: white;
    font-weight: 600;
    font-size: 3.0em;
    margin-top: 20%;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
.login__subtitle{
    margin-bottom: 25%;
}
.login{
 
    box-shadow: 5px 10px 18px #1853a0;
    margin-top: 10%;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 16.5%;
}
.login_form{
    margin-left: 3%;
}


.logbtn{
    background:#05588f ;
   color: white;
    border-radius: 10px;
    width: 40%;
    margin-left: 30%;
    margin-top: 1%;

    border-color: grey;
}
.split-login{
    margin-top: 10%;
 margin-bottom: 10%;
 margin-left: 4%; 
}
 /* footer------------------------------------------ */


 .footer{
    background: #455e83;

}

/* feature-------------------------- */
.common-title-lable {
    font-family: 'TradeGothic LT CondEighteen';
    width: 100%;
    font-size: 30px; font-weight: bold;
    color: #2980b9 !important;
    text-transform: uppercase !important;
}

.home_card i {
    width: 80px;
    height: 80px;
    border: solid 3px #fcb034;
    margin: auto;
    border-radius: 50%;
    line-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}
.card-img-top{
    width: 50px;
}
.home_card{
    background-color: #e8f5fb;
    height: 150%;
    width: 2 2 30%;
    
    
}
.home_card {
    box-shadow: 3px 3px 10px 0 rgb(0 0 0 / 20%);
    border: solid 0.2px rgba(112, 112, 112, 0.2);
    background-color: #e8f5fb;
    padding: 20px;
    min-height: 350px;
    max-height: 350px;
}
/* homehead----------------------------------------------------- */
.gmp-bg {
    background-color: rgba(255, 255, 255, 0.05);
    overflow: hidden;
}
#gmp-video {
    width: 100%;
    z-index: -1;
    margin: 0 -15px;
    height:auto;
}

.get-start{
    background-color: rgb(69, 150, 69);
    color: white;
    margin-top: 5%;
  font-size: 25px;
  padding: 6px 10px;
  margin-right: 3%;
  border-radius: 5px;
}

.head_row{
    margin-top: 10%;
    margin-bottom: 10%;
    
}
   
/* op-dash------------------------------------------------------ */

.op_btn{
    background-color: #295ca0 ;
    color: white;
    margin-top: 5%;
  font-size: 25px;
  padding: 6px 40px;
  margin-right: 3%;
  border-radius: 5px;
  width: 120%;
}